.nav {
	background-color: #08caff;
}

.img {
	width: 50px;
	margin: 15px;
}

.menu-icon {
	width: 25px;
}

.selected {
	background: linear-gradient(90deg, rgba(8,202,255,1) 50%, rgba(171,237,255,1) 100%);
	position: relative;
}